<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.h2.Driver</property>
        <!-- URL por defecto para desarrollo local -->
        <property name="hibernate.connection.url">jdbc:h2:tcp://localhost:9092/~/eventos_db</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>

        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- update: preserva datos entre reinicios -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <mapping class="edu.pucmm.eict.main.modelos.Usuario"/>
        <mapping class="edu.pucmm.eict.main.modelos.Evento"/>
        <mapping class="edu.pucmm.eict.main.modelos.Inscripcion"/>
    </session-factory>
</hibernate-configuration>